<nav aria-label="breadcrumb" class="mb-5 blue-grey darken-1">
    <ol class="breadcrumb blue-grey darken-4">
        <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/cliente">Cliente</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ficha</li>
    </ol>
</nav>

<h5 class="mb-4">Cliente: {{cliente.nombre}}

    <a (click)="fichaNueva()" class="btn-floating btn- waves-effect waves-light red right"><i class="material-icons">add</i></a>

</h5>



<!-- 
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Cliente: {{cliente.nombre}}</h5>
        <h6>Fecha: {{ficha.fecha|date:'dd-MM-yyyy'}}</h6>
        <h6>Nombre: {{ficha.nombre}}</h6>
        <h6>Valor: {{ficha.valor}}</h6>
        <p>Detalle:{{ficha.detalle}}</p>
        <p>Estado:{{ficha.pagada}}</p>
    </div>
    <div class="modal-footer">

        <a class="modal-close waves-effect waves-red btn-flat">Cancelar</a>
        
        <button class="btn  waves-effect waves-light btn-small text-white right" (click)="editarFicha(ficha)">Editar</button>
    </div>
</div> -->



<ul class="collapsible">
    <li *ngFor="let item of fichas">
        <div *ngIf="item.pagada" class="collapsible-header" style="color: green">
            <i class="material-icons">date_range</i>{{item.fecha|date:'dd-MM-yyyy'}} {{item.nombre}}
            <span (click)="verDetalle(item)" class="new badge " data-badge-caption="detalle">Ver</span>
        </div>
        <div *ngIf="!item.pagada" class="collapsible-header">
            <i class="material-icons">date_range</i>{{item.fecha|date:'dd-MM-yyyy'}} {{item.nombre}}
            <span (click)="verDetalle(item)" class="new badge " data-badge-caption="detalle">Ver</span>
        </div>

    </li>

</ul>