<div class="parallax" style="background-image: url(../../../assets/img/fond/calendar.png)">

</div>

<div class="transbox">
    <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
</div>


<div class="parallax" style="background-image: url(../../../assets/img/fond/calendar-black.png)"></div>


<div class="transbox">
    <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
</div>

<div class="parallax" style="background-image: url(../../../assets/img/fond/laptop.png)"></div>


<div class="transbox">
    <P> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
</div>